.input-atom {
    width: 100%;
    .ia-input {
        width: 100%;
        font-size: 14px;
        line-height: 36px;
        height: 36px;
        border: 1px solid #e2e2e2;
        outline: none;
        border-radius: 8px;
        padding: 0 15px;
    }
}
